body {
  background: rgb(75,104,254);
  background: radial-gradient(circle, rgba(75,104,254,1) 0%, rgba(169,70,252,1) 100%);
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sheet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  height: 125px;
  width: 175px;
  border: 2px solid #dbdbdb !important;
  border-radius: 16px;
  text-align: center;
  user-select: none;
}

.card p {
  font-family: "Roboto", serif;
  font-size: 17px;
  color: black;
}

.card[status="selected"] {
  background-color: #3f3f3f;
}
.card[status="selected"] p {
  background-color: #3f3f3f;
  color: white;
}