body {
  background: rgb(75,104,254);
  background: radial-gradient(circle, rgba(75,104,254,1) 0%, rgba(169,70,252,1) 100%);
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.innerFlex {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
}

a img {
  padding-top: 50px;
  margin-bottom: 120px;
}

#startBtn {
  margin-bottom: 25px;
}

.sheet {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  height: 125px;
  width: 175px;
  border: 2px solid #dbdbdb !important;
  border-radius: 16px;
  text-align: center;
  user-select: none;
}

.card p {
  font-family: "Roboto", serif;
  font-size: 17px;
  color: black;
  position: absolute;
  z-index: 1;
}

h2 {
  font-family: "Comic Neue", serif;
  font-size: 36px;
  font-weight: bolder;
}

p {
  font-family: "Comic Neue", serif;
  font-size: 36px;
}

textarea {
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  height: 250px;
  width: 350px;
  border: 2px solid #dbdbdb !important;
  border-radius: 16px;
  text-align: center;
  user-select: none;
  font-size: 30px;
  resize: none;
  vertical-align: middle;
}

button {
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #dbdbdb !important;
  border-radius: 8px;
  margin-top: 2%;
  width: 250px;
  height: 80px;
  font-family: "Comic Neue", serif;
  font-size: 28px;
  font-weight: bolder;
}

