@import './variables.css';

body {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  background-color: var(--background-color);
  font-family: sans-serif;
}

img {
  max-width: 100%;
}
