:root {
  --fsr-color-dark: #110032;
  --fsr-color-dark-medium: #280e5b;
  --fsr-color-medium: #9662ff;
  --fsr-color-light: #e9dffa;

  --background-color: var(--fsr-color-medium);
  --card-border-color: var(--fsr-color-light);
  --card-background-color: var(--fsr-color-dark-medium);
  --card-text-color: var(--fsr-color-light);

  --border-radius: 1rem;
  --transition: 0.2s ease-in-out;
}
